.about {
  background: none;
  margin: 5rem;
  padding: 5rem;

}


.second {
  display: block;
  overflow: hidden;
  background-color: #aaa;
  clear: both;
}

.second .image {
  float: inline-end;
  width: 32rem;
  margin-left: 5rem;

}

.groups .slide {
  text-align: center;
  width: 35rem;
}

.groups .slide img {
  height: 25rem;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.5rem;
}

/* .groups .slide .icon {
  background: #10221b;
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
  top: -2rem;
  display: inline-block;
}

.groups .slide .icon a {
  font-size: 1.4rem;
  color: #fff;
}

.groups .slide .icon a:hover {
  color: #219150;
}

.groups .slide .icon a span {
  padding-right: 0.5rem;
  color: #219150;
}

.groups .slide h3 {
  font-size: 2rem;
  color: #10221b;
}

.groups .slide p {
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 2;
  color: #10221b;
} */